@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #0A1128;
}

header {
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    background-color: white;
    height: 60px;
    width: 100vw;
    padding: 0px 30px;
}

#container-header {
    display: flex;
    align-self: center;
    gap: 40px;
}

#item-1 {
    width: 38vw;
}

header nav a {
    color: black;
}

section {
    background-color: #0A1128;
    height: 1000px;
    width: 80vw;
    margin: auto;
}